/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Entire Page */

body {
    font-family: "Manrope", sans-serif;
    background: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)),
        url('queens.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login Container */

.login-box {
    background: white;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 350px;
}

/* Heading */

.login-box h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #005EB8
}

/* Label + input styling */

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px
}

/* Button */

button {
    width: 100%;
    padding: 12px;
    background-color: #005EB8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Manrope", sans-serif;
}

.button:hover {
    background-color: #19389f;
    transform: translateY(-3px);
    box-shadow: 0px 5px 12px rgba(0,0,0,0.15);
}

/* Error Message */

.error {
    color: red;
    margin-bottom: 15px;
    text-align: center;
}